
/* ---------- Begin .rotating-border ---------- */
@keyframes spin {
  from {transform: translate(-50%, -50%) rotate(0);}
  to   {transform: translate(-50%, -50%) rotate(360deg);}
}
.rotating-border {
  --border-radius: 22%;
  --border-size: 33%;
  --border-bg: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
  --padding: 1rem;

  position: relative;
  top: 10%;
  left: 8%;
  overflow: hidden;
  font-size: 2rem;
  padding: calc(var(--padding) + var(--border-size));
  border-radius: 100%;
  display: inline-block;
}
.rotating-border::before {
    content: '';
    display: block;
    background: var(--border-bg);
    width: calc(100% * 1.41421356237);
    padding-bottom: calc(100% * 1.41421356237);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: -2;
    animation: spin 5s linear infinite;
  }
.rotating-border--reverse::before{
    animation-direction: reverse;
  }
  .rotating-border::after{
    content: '';
    position: absolute;
    inset: var(--border-size);
    background: white;
    z-index: -1;
    border-radius: calc(var(--border-radius) - var(--border-size));
  }
