.singlePostPage {
  padding-top: 50px;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.postCard {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: fit-content;
  border: 0.5px solid rgba(128, 128, 128, 0.293);
  width: 800px;
  height: 600px;
}

.right {
  width: 100%;
}
.post-picture {
  object-fit: contain;
  width: 500px;
  height: 500px;
  border-right: 0.5px solid rgba(128, 128, 128, 0.293);
}

.user-info {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.36);
}

.user-pic {
  display: flex;
  justify-content: flex-end;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  border: 0;
  margin-right: 10px;
}

.postOptions {
  position: relative;
  left: 63%;
  cursor: pointer;
}

.user-caption {
  padding: 15px 10px;
  display: flex;
  font-size: 13px;
}

.caption {
  margin-left: 15px;
}

.comments {
  height: 55%;
  overflow-y: auto;
}

.bottom-right {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(128, 128, 128, 0.36);
  border-bottom: 1px solid rgba(128, 128, 128, 0.36);
  padding: 10px 5px;
}

.post-icons {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.postOptionsModalBckg {
  background-color: rgba(0, 0, 0, 0.504);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.actualModalComponent {
  position: absolute;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 40%;
  top: 20%;
  width: 300px;
  height: fit-content;
  border: 1px solid rgba(128, 128, 128, 0.346);
  border-radius: 5px;
  z-index: 40;
  animation: grow 0.3s forwards;
}

.editPostModal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}


.editPostButton {
  cursor: pointer;
  border-bottom: 1px solid grey;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: center;
  padding: 10px 0px;
}

.cancelPostButton {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  justify-content: center;
  padding: 10px 0px;
}

.delPostBtn {
  cursor: pointer;
  border-bottom: 1px solid grey;
  width: 100%;
  color: red;
  display: flex;
  justify-content: center;
  justify-content: center;
  padding: 10px 0px;
}

.delPostBtnFinal {
  cursor: pointer;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 100%;
  color: red;
  display: flex;
  justify-content: center;
  justify-content: center;
  padding: 10px 0px;
}


#comment-form{
  padding-top: 5px;
  /* border: pink solid 1px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"]::placeholder {

  padding-top: 107px;
}

::-webkit-input-placeholder {
  text-align: start;

}

:-moz-placeholder {
  text-align: start;
}

#post-comment-button{
  color: #3795F6;
  font-weight: bold;
  background-color: black;
  border: none;
}

.deletePostConfirmText {
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
align-items: center;
}

.confirmdeltext {
  font-size: 13px;
}
