.signup-label {
  display: none;
}

#signup-holder {
  /* border: red solid 3px; */
  height: 650px;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

/* holds top-logo-container, or divider, and signup-form  */
#top-container {
  background-color: #979aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#signup-container {
  font-family: Neue Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  border: orange solid 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-logo-container {
  width: 300px;
  height: 200px;
  /* border: green solid 2px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.signup-form-container {
  /* border: pink solid 2px; */
  height: 350px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  flex-direction: column;
}

#errors {
  color: rgb(196, 30, 30);
  text-align: center;
}

#signup-form {
  margin-top: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-container {
  background-color: #979aaa;
  height: 50px;
  /* border: blueviolet solid 2px; */
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.s-input {
  width: 260px;
  height: 30px;
  border: none;
  border-radius: 3px;
}

.s-button {
  background-color: #f18f01;
  width: 260px;
  height: 30px;
  border: none;
  border-radius: 2px;
}

#login-link {
  text-decoration: none;
  color: whitesmoke;
}

#heading {
  font-family: 'Oleo Script', cursive;
  font-size: 60px;
}

#text {
  color: whitesmoke;
}

/* Or divider */
#or-divider {
  padding: 0px;
  margin: 0px;
  height: 10px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.line {
  height: 1px;
  width: 100px;
  background-color: black;
}
