
.page-container{
    display: flex;
    align-items: center;
}

.profile-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vw;
}

.username-header{
    font-size: 25px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 2%;
    width: 225px;
}

.admin-profile{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10%;
}
.square{
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.info-card{
    height: 44px;
}

.admin-bio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
}

.card-box{
    width: 36%;
}

.header-name{
    display: flex;
    justify-content: center;
}


.rotating-border{

}
.rotating-border::before{

}

.rotating-border::after{
padding: 0;
margin: 0;
box-sizing: border-box;
}
