/* parent container of comment elements*/
.comments-components {
  /* border: 1px solid lavender; */
  height: 240px;
  width: 220px;
  font-size: 10px;
}

/* holds the username AND comment AND profile pic AND button*/
.comments-container {
  /* border: pink solid 2px;
    overflow: auto;
    margin-bottom: 35px;
    /* overflow-x: hidden; */
  /*overflow-y: scroll; */
  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "profilepic username comment comment comment" */

  padding: 15px 10px;
  display: flex;
  font-size: 13px;
  /* align-items: ; */
}

.deleteCommentButton {
  position: relative;
  left: 5%;
}


#profile-pic-holder {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

#profile-pic {
    /* border-radius: 50%;
    height: 100%;
    width: 100%;
    grid-area: profilepic; */
    display: flex;
    justify-content: end;
    border-radius: 30px;
    width: 25px;
    height: 25px;
    border: 0;
    margin-right: 10px;
}

/* holds the comment text*/
#comment {
    display: block;
    /* line-height: px; */
    overflow-wrap: anywhere;
    white-space: normal;
    letter-spacing: 0.1rem;
    grid-area: comment;
}

.username-comment-container {
    overflow-wrap: break-word;
}

.delete {
  background-color: none;
  cursor: pointer;
  /* color: black;
    height: 10px;
    width: 10px;
    grid-area: delete; */
  visibility: hidden;
  /* opacity: 0; */
}

.comments-container:hover .delete {
  visibility: visible;
}

/* .delete:hover {
  /* opacity: 1; */
  /* visibility: visible; */
/* } */ 

#username {
  font-weight: bold;
  margin-right: 5px;
  text-decoration: none;
  font-size: 14px;
  grid-area: username;
}

.comment-form {
  border-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.post-comment-button {
  color: white;
  background-color: black;
  border: none;
  font-weight: bold;
}

#comment-form > textarea {
    resize: none;
    background-color: black;
    border-top: 5px;
}

#comment-form:focus, textarea {
    outline: none !important;
    border: none;

}
